
body {
    color: black;
    font-family: Helvetica; 
    letter-spacing: px;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
  color: black; 
  text-decoration: none;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.main2 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.column a {
  text-decoration: underline;
  color: white;
  margin-top: 0.5rem;
  display: inline-block;
}

.box {
  background-color: white;
  border: 1px solid white;
  padding-left: 13%;
  padding-right: 13%;
  padding-bottom: 3%;
}

.box2 {
  background-color: white;
  border: 1px solid white;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
  padding-top: 1%
}


.box3 {
  background-color: white;
  border: 1px solid gray;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
  padding-top: 1%
}

.ps {
  font-style: italic;
  font-size: medium,;
  color: gray;
}

.hi {
  color: lightgray;
  text-align: center;
}

header {
  position: absolute;
  top: 10px;
  left: 10px;
}

.time {
  font-size: 17px;
}

.music-player {
  position: absolute;
  bottom: 60px; 
  left: 50%;
  transform: translateX(-50%);
}

.music-player audio {
  width: 400px; /* or whatever you want */
}

.track-label {
  font-size: 0.8em;  
  opacity: 0.8;       
  margin-bottom: 6px; 
  color: gray;
  font-style: italic;
}

.counter img {
  width: 100px;
  height: auto;
}

@font-face {
    font-family: Helvetica;
    src: url("Helvetica.ttf") format("opentype");
}
