
body {
    color: black;
    font-family: Helvetica; 
    letter-spacing: px;
}

a {
  color: black; 
  text-decoration: none;
}

.column a {
  text-decoration: underline;
  color: white;
  margin-top: 0.5rem; /* optional spacing from last image */
  display: inline-block;
}

.box {
  background-color: white;
  border: 1px solid white;
  padding-left: 13%;
  padding-right: 13%;
  padding-bottom: 3%;
}

.box2 {
  background-color: white;
  border: 1px solid white;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
  padding-top: 1%
}


.box3 {
  background-color: white;
  border: 1px solid gray;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
  padding-top: 1%
}

.ps {
  font-style: italic;
  font-size: medium,;
  color: gray;
}

.hi {
  color: gray;
  text-align: center;
}

header {
  position: absolute;
  top: 10px;
  left: 10px;
}

.time {
  font-size: 17px;
}

.counter img {
  width: 100px;
  height: auto;
}

@font-face {
    font-family: Helvetica;
    src: url("Helvetica.ttf") format("opentype");
}
